@model EventListingApplication.Models.Comment

@{
    ViewBag.Title = "Display";
}

<h2>Comment Section</h2>

<h2>@Html.DisplayFor(model => model.Body)</h2>

<p>
    @Html.ActionLink("Back to Display","AddComments")
</p>