@{
    Layout = null;
}

<!DOCTYPE html>

<html>
 
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/EventListingStyles.css" />
</head>
<body>
    
    <h1 class="site-page-title">Event Listings Sharing</h1>
    <div class="clear-floats"/>
     <div id="topmenu">
         <div class="topmenulink">
        <a href="~/Home/Index">Home Page</a>
             </div>
         <div class="topmenulink">
             <a href="~/Listing/Index">Events</a>
         </div>
         <div class="topmenulink">
             <a href="~/Listing/Create">Create an event</a>
         </div>
     </div>   
    <div id="breadcrumb">
        Current Location: @Html.MvcSiteMap().SiteMapPath()
    </div>
    <div>
        @RenderBody()
    </div>
   
</body>
</html>
